

<!DOCTYPE html>
     <html>
     
     <head>
         <meta charset="UTF-8">
         <meta http-equip="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- <link rel="stylesheet" href="C:\Users\LENOVO\Desktop\plateforme\dossierCSS\style2.css"> -->
         <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">
     
         <title></title>
     </head>
     
     <body>
        <!-- <h3>Fonctionnalites</h3> -->
     
        <section class="compte" id="compte">
            <div class="titre" >
                <h2 class="titre-texte"> <span>F</span>ONCTIONNALITES</h2>
                <p> Que souhaitez-vous faire? <br>Cliquez ci-dessous en fonction de votre souhait .</p>
            </div>
        
            <div class="contenu">
                <div class="box">
                    <!-- <div class="imbox">
                        <img src="images/plat12.jpg " alt="">
                    </div> -->
                    <div class="text">
                        <h3>GERER UN COMPTE POUR UN MEDECIN.</h3>
                    </div>
                </div>
            
                <div class="box">
                    <!-- <div class="imbox">
                    <img src="images/plat9.jfif" alt="">
                    </div>  -->
                    <div class="text">
                        <h3>GERER UN COMPTE POUR UN ASSISTANT.</h3>
                    </div>
                </div>
    
            </div>      
        </section>
        

     </body>

</html>