<!DOCTYPE html>
<html>
     
<head>
         <meta charset="UTF-8">
         <meta http-equip="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- <link rel="stylesheet" href="C:\Users\LENOVO\Desktop\plateforme\dossierCSS\style2.css"> -->
         <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">
     
         <title></title>
</head>
<body [ngStyle]="{backgroundImage:'url('+image+')'}">
    <div class="forme-nav">

        <div class="contenu-nav">
            <!-- <div (click)="redirecTo('login')" class="btn-all"> -->
            <!-- <div class="btn-all">
                Connexion
            </div> -->
            <h2>Creer compte Medecin </h2>
        </div>
    </div>



    <div class="container">
        <h3>Informations du Medecin :</h3>
        <div class="login-content">

            <!-- [(ngModel)]="email" > -->
            <!-- [(ngModel)]="password"> -->
            <h2>NOM:<input type="text" name="nom" id="nom" placeholder="nom"><br>
            PRENOM: <input type="text" name="prenom" placeholder="Prenom"><br>
            Telephone: <input type="number" name="telephone" placeholder="Numero de Telephone"><br>
            Mot De Pass: <input type="password" name="password" id="mdp" placeholder="Mot De Pass">
        </h2>
            <!-- <div (click)="redirecToHome()" class="btn-all"> -->
            <div class="btn-all">
               VALIDER

                {{response}}
            </div>
        </div>
    </div> 
</body>



</html>
