
<html>
<body>
    <div class="forme-nav">

        <div class="contenu-nav">
            <!-- <div (click)="redirecTo('login')" class="btn-all"> -->
            <!-- <div class="btn-all">
                Connexion
            </div> -->
            <p>Creer compte Medecin </p>
        </div>
    </div>



    <div class="container">
        <h1>Se connecter</h1>
        <div class="login-content">

            <!-- [(ngModel)]="email" > -->
            <!-- [(ngModel)]="password"> -->

            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Mot De Pass">

            <!-- <div (click)="redirecToHome()" class="btn-all"> -->
            <div class="btn-all">
            
                CONNEXION
            </div>
        </div>
    </div> 
</body>



</html>
