<!DOCTYPE html>
<html>
     
<head>
         <meta charset="UTF-8">
         <meta http-equip="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">
     
         <title></title>
</head>
<!-- [ngStyle]="{backgroundImage:'url('+image+')'}" -->
<body>
    <div class="forme-nav">

        <div class="contenu-nav">
        
            <h2>Creer compte Medecin </h2>
        </div>
    </div>



    <div class="container">
        <h3>Informations du Medecin :</h3>
        <div class="login-content">

          
            <!-- <form method="post" action="http://localhost:8001/creerMedecin.php"> -->
                   <form> 
                    <h2>NOM:<input type="text" name="nom" id="nom" placeholder="nom"  required><br>
                    PRENOM: <input type="text" name="prenom" placeholder="Prenom" required><br>
                    Telephone: <input type="number" name="numero_telephone" placeholder="Numero de Telephone" required><br>
                    Mot De Pass: <input type="password" name="mdp" id="mdp" placeholder="Mot De Pass" required>
                    </h2>
                    <button class="btn-all"
                    type="submit" >  VALIDER</button> 

                    <!-- (click)="redirecToMedecinAjoute()" -->


            </form>
        </div>
    </div> 
</body>



</html>

