.forme-nav{
    width: 100%;
    display: flex;
    background-color:white;
    // background-image: url(image1.jpeg);

}
.contenu-nav{
    width: 100%;
    display: flex;
   
}
.contenu-nav h2{
   text-align: center;
   color:rgb(73, 156, 14);  
   font-size: 2.2em;
   margin-left: 440px;
   margin-top: 50px;
}
body{
    
    margin: 0;
    margin-top: -120px;
    width: 100vw;
    height: 700px;
    background-image: url(image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    // margin-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-left: 40px;

    
    // background-color: white;
    // background-image: url(image1.jpeg);
    
}
.container h3{
    color: rgb(20, 27, 16);
    font-size: 2.5em;
    text-decoration: underline;
    
}

.login-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}
.login-content h2{
  color: rgba(87, 116, 77, 0.902);
}

input{
    width: 45%;
    margin: 10px auto;
    margin-left:15px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2p solid green;
    background: rgba(176, 179, 173, 0.46);
    box-shadow: 2px 3px 30px 2px rgba(125, 125, 125, 0.2);
    color: white;
    border: 0.3px solid rgb(75, 63, 65);
}
#nom{
    margin-left:60px;
    width:46% ;
}
#mdp{
    width: 43%;
    margin-left:10px;

}


.btn-all{
    background:rgba(145, 146, 144, 0.802);
    color: rgb(7, 6, 6);
    border: 2px  solid black;
    // width: 50%;
    margin: 2rem auto;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-bottom: 350px;
    border-radius: 10px;
    width: 30%;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 0.2em;
    
    // border: 40px solid rgb(227, 149, 162) ;
}

.btn-all:hover{
    background: rgba(45, 128, 92, 0.319);
    cursor: pointer;
    color: white;
    width: 40%;
    font-size: 1.5em;
    margin-left: 130px;

}




// .btn-all{
//     background: rgba(64, 50, 194, 0.966);
//     color: white;
//     width: 50%;
//     margin: 1rem auto;
//     display: flex;
//     justify-content: center;
//     padding: 10px;
//     border-radius: 1rem;
// }

// .btn-all:hover{
//     background: rgba(131, 121, 189, 0.2);
//     cursor: pointer;
// }




/* You can add global styles to this file, and also import other style files */



