
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equip="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="C:\Users\LENOVO\Desktop\plateforme\dossierCSS\style2.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <title>Medecins Ajoutés</title>
</head>
<body>
    <form action="recupereMedecin.php"> 
        <div class="forme-nav">
            <div class="contenu-nav">
                <h2>Medecins Ajoutés</h2>
            </div>
        </div>

        <div class="container">
            <h3>Liste des Médecins :</h3>
            <div class="medecins-content">
                <!-- Ici, vous pouvez insérer la logique Angular pour afficher la liste des médecins ajoutés -->
                <!-- Par exemple : -->
                <div *ngFor="let medecin of medecins">
                        <p>Nom: {{ medecin.nom}}</p>
                        <p>Nom: {{ medecin.prenom}}</p>
                        <p>Nom: {{ medecin.numero_telephone}}</p>
                </div> 
            </div>
    
        </div> 
    </form>
</body>
</html>
