
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Assistant</title>
    <!-- <link rel="stylesheet" href="interface-assistant.css"> -->
</head>
<body>
    <div class="container">
        <h1>Bienvenue</h1>
        <p>Que souhaitez-vous faire ?</p>
        <div class="options">
            <button onclick="location.href='fiche.html'" class="patient-btn">Gérer les Dossiers des Patients</button>
            <button onclick="location.href='#'" class="appointment-btn">Gérer les Rendez-vous</button>
         </div>
    </div>

    
</body>
</html>





