
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Médecin</title>
    <!-- <link rel="stylesheet" href="interface-medcin.css"> -->
</head>
<body>
    <div class="container">
        <h1>Bonjour Docteur :)</h1>
         <p>Que souhaitez-vous faire ?</p>
        <div class="options">
            <button onclick="location.href='#'" class="consultation-btn">Faire une Consultation</button>
            <button onclick="location.href='#'" class="planning-btn">Gérer le Planning</button>
        </div>
    </div>
</body>
</html>
