     <!-- index2.html   plateforme/dossierHTML1 -->


     <!DOCTYPE html>
     <html>
     
     <head>
         <meta charset="UTF-8">
         <meta http-equip="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- <link rel="stylesheet" href="C:\Users\LENOVO\Desktop\plateforme\dossierCSS\style2.css"> -->
         <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">
     
         <title>FORMULAIRE2</title>
     </head>
     
     <body>
        <section class="premiere">
             <div class="en-tete">
                 <div class="ecoleEtLogo">
                     <p>Sen wergu Yaram :) </p>
                     <img src="assets\image.png" alt="image"/>
                 </div>
     
                 <!-- <div class="connexion" (click)="redirecTo('login')" class="btn-all"> -->
                 <!-- <div id="button" class="connexion" (click)="redirecToLogin()" > -->
                 <div id="button" (click)="redirecToLogin()" >
                    Se connecter 
                 </div>
             </div>
     
             <div class="partie_bleue">
                 <br>
                 <p>Bienvenue dans la plateforme de Gestion de l'Hopital <br>'Sene Wergu Yaram' </p>
             </div>
             <div class="partie1">
                 <!-- <p>Connectez-vous pour retrouver les differents applications a votre disposition. </p> -->
                 <p>Qui etes-vous? Connectez-vous selon votre role. </p>
                <br><br>
             </div>
     
     
             <div></div>
        </section>
     
        <section class="deuxieme">
            <div class="contenu"> 
     
                 <div class="box">
                    <!-- <div class="Gestion"> -->
                     <div class="Role">
                         <h3>Medecin</h3>
                     </div>
                     <div class="text">
                         <!-- <p>Ce module contient tout ce qui est relatif aux cours</p> -->
                         <p>Voir Fonctionnalites ...</p>
                     </div>
                     <div id="button" (click)="redirecToLogin()" class="voir">
                        <!-- <button type="submit" name="voir">Se Connecter</button> -->
                        Se Connecter
                    </div>
                 </div>
     
                 <div class="box">
                     <div class="Role">
                         <h3>Assistant d'un Medicin</h3>
                     </div>
                     <div class="text">
                         <!-- <p>Ce module contient tout ce qui est relatif aux absences</p> -->
                         <p>Voir Fonctionnalites ...</p>
                     </div>
                     <div id="button" (click)="redirecToLogin()" class="voir">
                        <!-- <button type="submit" name="voir">Se Connecter</button> -->
                        Se Connecter
                    </div>
                 </div>
     
                 <div class="box">
                     <div class="Role">
                         <h3>Administrateur</h3>
                     </div>
                     <div class="text">
                         <!-- <p>Ce module contient tout ce qui est relatif aux cours</p> -->
                         <p>Voir Fonctionnalites ...</p>
                     
                     </div>
                     <div id="button" (click)="redirecToLogin()" class="voir">
                         <!-- <button type="submit" name="voir">Se Connecter</button> -->
                         Se Connecter
                     </div>
                 </div>

            </div>
        </section>  
     
         
         
     
     </body>
     </html>








